.table-container {
    overflow-x: auto;
    width: 100%;
}

.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid var(--table-color);
    ;
}

.table-container th,
td {
    text-align: left;
    padding: 0.5rem;
    color: var(--card-title-color);
}

.table-container th {
    background: var(--table-color);
}

.table-pagination {
    display: flex;
    justify-content: start;
    margin: 0.5rem 0;
}

.table-pagination button {
    margin-right: 0.5rem;
    border: 0;
    padding: 0.5rem 0.5rem;
    border-radius: 0.1rem;
    background: var(--table-color);
    color: var(--button-text-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.table-pagination button:hover {
    background: VAR(--table-button-hover-color);
}

.table-container th {
    cursor: pointer;
}

.table-header-container {
    display: flex;
    justify-content: space-between;
}

.table-header-container input {
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 0;
    padding: 0 0.5rem;
    background: var(--table-color);
    color: var(--card-title-color);
}

@media (max-width: 767px) {
    .table-header-container {
        flex-direction: column;
    }

    .table-header-container input {
        padding: 0.5rem;
    }
}

.table-title {
    color: var(--card-title-color);
    margin: 0 0 1rem 0;
}


.table-container::-webkit-scrollbar {
    height: 1rem;
}

.table-container::-webkit-scrollbar-track {
    background-color: var(--card-title-color);
    border-radius: 0.5rem;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--table-color);
    border-radius: 0.5rem;
    border: 2px solid var(--card-title-color);
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-bg-color);
}

.table-container::-webkit-scrollbar-corner {
    background-color: var(--table-color);
}