.countdown-panel {
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
}

.countdown-container {
    height: 100%;
    /* line-height: 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: var(--metric-color);
}

.countdown-middle {
    /* line-height: 0; */
    vertical-align: middle;
}
